.env*

# air-gapped-mirror
air-gapped-mirror/sync-job/.venv/
air-gapped-mirror/sync-job/**/__pycache__/
air-gapped-mirror/sync-job/.pytest_cache/
air-gapped-mirror/test/keys/

# monitoring
monitoring/k8s/grafana-admin-secret.yaml

# netbox-import
netbox-import/.venv/
netbox-import/**/__pycache__/
netbox-import/.pytest_cache/

