.env*

# air-gapped-mirror
deployments/air-gapped-mirror/sync-job/.venv/
deployments/air-gapped-mirror/sync-job/**/__pycache__/
deployments/air-gapped-mirror/sync-job/.pytest_cache/
deployments/air-gapped-mirror/test/keys/

# monitoring
deployments/monitoring/k8s/grafana-admin-secret.yaml
automation/ansible/.venv/

# netbox-import
tools/netbox/csv-import/.venv/
tools/netbox/csv-import/**/__pycache__/
tools/netbox/csv-import/.pytest_cache/

# tools
tools/prometheus-rule-tables/__pycache__/
